<div class="hero">
  <br />	
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />		
	<h1>Learn Math from the best</h1>
	<br />
	<h2>For teachers & studens</h2>
	<br />
	<%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
	<br /><br />
  </div>	
</div>	


<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <!-- <div class=" booyah-box col-sm-4">
    <h3>
      <% if !Course.where(:id => 1).blank? %> 
        <% course1 = Course.find(1) %>
        <%= link_to course1.title, course_path(course1) %>
        <%= image_tag course1.image, :class => 'img-responsive' %>
      <% end %>
    </h3>
  </div> -->

  <div class="booyah-box col-sm-4 col-sm-offset-1">
    <h3>
     <% if !Course.where(:id => 2).blank? %> 
      <% course2 = Course.find(2) %>
      <%= link_to course2.title, course_path(course2) %>
      <br/>
      <%= image_tag course2.image, :class => 'img-responsive' %>
     <% end %>  
    </h3>
  </div>
  <div class="booyah-box col-sm-4 col-sm-offset-2">
    <h3>
     <% if !Course.where(:id => 3).blank? %> 
      <% course3 = Course.find(3) %>
      <%= link_to course3.title, course_path(course3) %>
      <br/>
      <%= image_tag course3.image, :class => 'img-responsive' %>
     <% end %> 
    </h3>
  </div>
</div>